.App {
    min-height: 100vh;
    text-align: center;
    background-color: #EFE2C7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .VotingDiv {
    margin-bottom: 20px;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    color: #004514;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Subtext {
    font-size: calc(2px + 1vmin)
  }