.App {
  min-height: 100vh;
  text-align: center;
  background-color: #EFE2C7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #004514;
  font-family: 'BucksFont';
  text-decoration: underline;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.App-link {
  color: #61dafb;
}

.Subtext {
  font-size: calc(2px + 1vmin)
}